h2{
    text-decoration:underline;
}
#img{
    height:150px;
    width:150px;
    border:solid;
}
#a1{
    padding:1px;
    margin:0px;
    border:solid;
    background: #c0392b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;x
}
h1{
    text-decoration: underline;
    font-size:30px;
    margin:10px;
}
#button{
    text-decoration: none;
    width:200px;
}
p{
    font-weight :bold;
}